
//every module has its own env
profiles {
    conda {
        conda.enabled  = true
        conda.useMamba = true
    }
    docker {
        docker.enabled = true
    }
}

params {
    samplesheet   = "config/samplesheet.csv"
    outdir        = "results"
    run_amrfinder = true
    run_rgi       = true
    run_abricate  = true
    run_resfinder = true
    run_staramr   = true
    run_fargene   = true
}