// Set global parameters
params {
    samplesheet   = "config/samplesheet.csv"
    outdir        = "results"
    run_amrfinder = true
    run_rgi       = true
    run_abricate  = true
    run_resfinder = true
}

// Profile definitions
profiles {
    conda {
        conda.enabled          = true
        conda.useMamba         = true
        // This ensures the base conda is available to the shell
        process.beforeScript   = 'source $(conda info --base)/etc/profile.d/conda.sh'
    }
    
    docker {
        docker.enabled         = true
        docker.runOptions      = '-u \$(id -u):\$(id -g)'
    }
}

// Execution settings
process {
    // Default resource allocation
    cpus   = 2
    memory = '4 GB'
    
    // You can also move the conda directives here to keep modules clean, 
    // but keeping them in the modules is fine too.
}