profiles {

    conda {
        conda.enabled    = true
        conda.useMamba   = true
        process.conda    = "$projectDir/environment.yml"
    }

    docker {
        docker.enabled       = true
        docker.userEmulation = true
    }

}

params {
    samplesheet   = "config/samplesheet.csv"
    outdir        = "results"
    run_amrfinder = true
    run_rgi       = true
    run_abricate  = true
    run_resfinder = true
    run_staramr   = true
    run_fargene   = true
}